body {
    font-family: Arial, sans-serif;
    background-color: #000;


    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    background-color: #000;
    color: #fff;
    text-align: center;
}

h1 {
    text-align: center;
}

button {
    width: 40px;
    height: 40px;
    font-size: 16px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:focus {
    outline: none;
}

button:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

button:hover {
    background-color: #f0f0f0;
}


@media screen and (max-width: 600px) {
    button {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
}

.hover-effect {
    background-color: #b5b5b5;
}

.hover-effect.selected {
    background-color: #ffff00;
}

.hover-effect.selected.missing {
    background-color: #88ff00;
}

.hover-effect.good.missing {
    background-color: #00ff00;
}


.selected.missing {
    background-color: #88ff00;
}

.selected.missing.good {
    background-color: #00ff00;
}

.selected.missing.error {
    background-color: #ff0000;
}

.hover-effect.missing {
    background-color: #fda8a8;
}

.menu-button {
    width: max-content;

}

.missing {
    background-color: #fda8a8;
}

.selected {
    background-color: #ddff00;
}

.easy {
    background-color: #00ff00;
}

.medium {
    background-color: #ffff00;
}

.hard {
    background-color: #ff0000;
}

.error {
    background-color: #ff0000;
}

.good {
    background-color: #00ff00;
}

.choices {
    display: flex;
    justify-content: center;

}

.choices button {
    border: none;
    background-color: #ff0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.choices button:focus {
    outline: none;
}

.choices button:hover {
    background-color: #f0f0f0;
}

.choice-container {
    height: 200px;
}

.row {
    display: flex;
    padding: 5px;
    padding-top: 0px;

}

.block {
    display: block;
    padding: 2.5px;
    padding-top: 0px;

}

.block-row {
    display: block;
    padding: 2.5px;
    padding-top: 0px;
}